@inject ToastService Toast
@implements IDisposable

@if (_messages.Any())
{
    <div class="toast-container">
        @foreach (var msg in _messages)
        {
            <div class="toast-item toast-@msg.Type" @key="msg">
                <i class="bi @msg.Icon"></i>
                <span>@msg.Message</span>
            </div>
        }
    </div>
}

@code {
    private List<ToastMessage> _messages = new();

    protected override void OnInitialized()
    {
        Toast.OnShow += ShowToast;
    }

    private async void ShowToast(ToastMessage message)
    {
        _messages.Add(message);
        await InvokeAsync(StateHasChanged);

        _ = Task.Run(async () =>
        {
            await Task.Delay(3500);
            _messages.Remove(message);
            await InvokeAsync(StateHasChanged);
        });
    }

    public void Dispose()
    {
        Toast.OnShow -= ShowToast;
    }
}
